html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: #ffff00;
}

a:visited {
    color: #ff8000;
}

a:hover {
    color: #80ff00;
}

a:active {
    color: #ffff80;
}

.page {
    min-height: 100%;
    position: relative;
}

.header {
    background-color: #606060;
    width: 100%;
}

.header .content {
    height: 64px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header .content #name {
    font-size: 2.4em;
    line-height: 64px;
    margin: 0 auto 0 32px;
    vertical-align: middle;
}

.header .content .tabs {
    display: inline;
    float: right;
    margin: 0 32px 0 auto;
}

.header .content .tabs .tab {
    background-color: #808080;
    display: inline-block;
    font-size: 1.4em;
    line-height: 48px;
    margin: 8px 0 8px 4px;
    padding: 0 16px;
    vertical-align: middle;
}

.body {
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.body .content {
    padding: 16px 16px 80px 16px;
}

.body .content p {
    margin-left: 24px;
}

.body .content li {
    margin-top: 8px;
}

.footer {
    background-color: #606060;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer .content {
    height: 64px;
    margin: 0 auto;
    /*margin: 0 32px;*/
    max-width: 1200px;
    width: 100%;
}

.footer .content .social-link {
    display: inline-block;
    font-size: 1.2em;
    line-height: 48px;
    margin: 8px 4px 8px 0;
    padding: 0 16px;
    vertical-align: middle;
}

.footer .content .social-link:hover {
    background-color: #505050;
}
